{extend name="default/base" /}
{block name="content"}
<div class="content">
    <div class="bg-dark">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-7 col-sm-12 text-white">
                    <h1>URL缩短</h1>
                    <br>
                    <p>本页面可缩短长地址为短地址。</p>
                    <div id="alert"></div>
                    <div id="form">
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input class="form-control" type="url" name="url" id="url" maxlength="255">
                        </div>
                        <input class="btn btn-primary" type="button" value="提交" onclick="submit()">
                    </div>
                </div>
                <div class="col-md-5 d-none d-md-block">
                    <div class="p-sm-3 p-md-5 text-center">
                        <img src="/logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        {include file="index/describe" /}
    </div>
</div>
{/block}
{block name="js"}
<script>
    function copy() {
        var text =document.getElementById("short-url").innerText;
        var input = document.createElement('input');
        input.setAttribute('id', 'copyInput');
        input.setAttribute('value', text);
        document.getElementsByTagName('body')[0].appendChild(input);
        document.getElementById('copyInput').select();
        if (document.execCommand('copy'))
            alert('复制成功');
        document.getElementById('copyInput').remove()
    }

    function submit(){
        $.ajax({
            url: "{:url('api/save')}",
            data: { url: $('#url').val() },
            method: 'post',
            success: function(res){
                if(res.code == 1){
                    $('#alert').html("<div class='alert alert-success' role='alert'>" +
                        "缩短后网址为：<span id='short-url'>"+res.data.url +
                        "</span> <a onclick='copy()' href='javascript:void(0);'>复制</a></div>");
                    if(res.data.safe){
                        $('#alert').append("<div class='alert alert-info' role='alert'>" +
                            "<ul>" +
                            "<li>漏洞查询："+res.data.safe.vulnerability+"</li>" +
                            "<li>虚假网站："+res.data.safe.fake+"</li>" +
                            "<li>木马网站："+res.data.safe.trojan+"</li>" +
                            "<li>地址跳转："+res.data.safe.rewrite+"</li>" +
                            "<li>谷歌查询："+res.data.safe.google+"</li>" +
                            "<li>微信查询："+res.data.safe.wechat+"</li>" +
                            "</ul>" +
                            "</div>");
                    }
                } else {
                    $('#alert').html("<div class='alert alert-danger' role='alert'>" +
                         res.msg
                        + "</div>");
                }
            }
        });
    }
</script>
{/block}