<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{$page_title}</title>
    {include file="default/css" /}
    {block name="css"}
    {/block}
</head>
<body>
{include file="default/header" /}
{block name="content"}
{/block}
{include file="default/footer" /}
{include file="default/js" /}
{block name="js"}
{/block}
</body>
</html>