<footer class="text-dark">
    <div class="container-fluid p-3 p-md-5">
        <ul class="list-unstyled font-weight-bold">
            <li class="list-inline-item">
                <a href="https://github.com/LittleJake" target="_blank">Github</a>
            </li>
            <li class="list-inline-item">
                <a href="https://littlejake.net" target="_blank">Blog</a>
            </li>
        </ul>
        Code Licensed <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0</a></p>
        <p>LittleJake, 2020</p>
    </div>
</footer>